{% extends "quotesapp/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
            {% if user.is_authenticated %}
            <ul>
                <a href="{% url 'quotesapp:author' %}" class="btn btn-primary">Add Author</a>
                <a href="{% url 'quotesapp:quote' %}" class="btn btn-primary">Add Quote</a>
            </ul>
            {% else %}
            <ul>
            </ul>
            {% endif %}
        </nav>

        {% for quote in quotes %}

        <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.quote }}
                <span>
                    <div> by <small class="author" itemprop="author">{{quote.author}}</small>
                        <a href="{% url 'quotesapp:detail' quote.author.pk %}">(about)</a>
                    </div>
                </span>
                <div class="tags">
                    Tags:
                    {% if quote.tags.exists %}
                    {% for tag in quote.tags.all %}
                    <a class="tag" href="/tag/{{tag}}">{{tag}}</a>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
        </div>

        {% endfor %}
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                        href="{% if quotes.has_previous %} {% url 'quotesapp:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                        <span aria-hidden="true">←</span> Previous
                    </a>
                </li>


                <li class="next">
                    <a class='{% if not quotes.has_next %} disabled {% endif %}'
                        href="{% if quotes.has_next %} {% url 'quotesapp:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                        Next <span aria-hidden="true">→</span></a>
                </li>

            </ul>
        </nav>
    </div>

</div>

{% endblock %}
</main>
</body>

</html>